<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/CSS/estilos.css">

    <title>Editar</title>
</head>
<body>

    <form action="/actualizar" method="POST" class="formulario">
        <legend class="titulo-formulario">Edita tus datos</legend>

        <input id="id" name="id" value="<%= info_personas.id %>" hidden> 
        
        <div class="contenedor">
            <div class="campos">
                <label for="">Ingresa tu nombre</label>
                <input type="text" id="nombrePersonas" name="nombrePersonas" value="<%= info_personas.nombrePersonas %>">
            </div>

            <div class="campos">
                <label for="">Ingresa tu apellido</label>
                <input type="text" id="apellidoPersonas" name="apellidoPersonas" value="<%= info_personas.apellidoPersonas %>">
            </div>

            <div class="campos">
                <label for="">Ingresa tu número de cédula</label>
                <input type="number" id="numeroCedulaPersonas" name="numeroCedulaPersonas" min="1" value="<%= info_personas.numeroCedulaPersonas %>">
            </div>

            <div class="campos">
                <label for="">Ingresa tu edad</label>
                <input type="number" id="edadPersonas" name="edadPersonas" min="1" value="<%= info_personas.edadPersonas %>">
            </div>

            <div class="campos">
                <label for="">Ingresa tu número de teléfono</label>
                <input type="number" id="telefonoPersonas" name="telefonoPersonas" min="1" value="<%= info_personas.telefonoPersonas %>">
            </div>
        </div>

        <div class="botones-editar">
            <button type="submit">Actualizar</button>
            <a href="/">Cancelar</a>
        </div>    
        
    </form>
</body>
</html>